<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Calculator</title>
    <link rel="stylesheet" type="text/css" href="/static/tiempos.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <header>
      <div class="informacion"> 
      <h1>Calculadora Geodésica</h1>
      <nav>
        <ul>
          <li><a href="/home">Inicio</a></li>
            <li>
              <select class="calculos">
              <option value="">Cálculos</option>
              <option value="opcion1"><a href="/tiempos">Tiempos</a></option>
              <option value="opcion2">Cambio de coordenadas</option>
              <option value="opcion3">Opción 3</option>
              <option value="opcion4">Opción 4</option>
              </select></li>
            <li><a href="#">Información</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      </div>
      <section class="banner">
        <img src="/static/calculator_banner.jpg.png"  alt="Calculadora Geodésica">
      </section>
  </header>
  
  <footer>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cálculos</a></li>
        <li><a href="#">Información</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <p>&copy; 2023 Calculadora Geodésica. Todos los derechos reservados.</p>
  </footer>
  </body>
</html>
